# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.envrc/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/
*.egg-info/

# Large files (optional)
*.pt
*.pth
*.ckpt

# Matplotlib cache
.matplotlib/

# Temporary files
*.tmp
*.swp